* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body{
    width: 100%;
}

img {
    height: 55px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    width: 100vw;
    background-color:#fff;
    color: #555;    
    border-bottom:1px solid rgb(173, 173, 173);
}

.container_logo {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-right: 1%;
}
.container_logo h1{
    /* display: inline-block; */
    color:#333;
    font-size: 2.8rem;
    padding-left: 1%;
    font-family: 'Monoton', cursive;
    font-weight: 400;
}

.logo {
    height: 45px;
}

.nav {
    width: 500px ;
}

.nav ul li{
    list-style-type: none;
    display: inline-block;
}

.options {
    position: relative;
    display: inline-block;
    padding: 15px;
   
}

li:hover {    
    background-color: rgb(214, 203, 203);
}
.options:hover .dropdown-content {
    display: block;
    
}

.icons {
    width: 25px;
    height: 25px;
}
.expand_icon {
    width: 12px;
    height: 12px;    
    position: absolute;
    top: 0;

}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 0;
    
  }

.dropdown-content section {
    border-bottom: 0.5px solid gray;
  }

.dropdown_content_tools{
    display: flex;
    justify-content: space-around;
  }
.dropdown_content_colors{       
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    /* align-items: center;     */
}
.dropdown_content_lines {
    display: flex;
    justify-content: space-around;
}
.dropdown_content_pallete_colors {
    text-align: center;
}

.box {
    cursor: pointer;
    flex-basis: 20px;
    height: 20px; 
    /* border: 0.5px solid #333; */
    border-radius: 50%;
    margin:1%;    
}

.box::after {
    content: ' ';
}



/*COLORES*/
#black{
    background-color: black;
}
#gray{
    background-color: gray;
}
#darkred{
    background-color: darkred;
}
#red{
    background-color: red;
}
#orange{
    background-color: orange;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}
#turquoise{
    background-color: turquoise;
}
#indigo{
    background-color: indigo;
}
#purple{
    background-color: purple;
}
#white{
    background-color: white;
}
#ligth_gray{
    background-color: lightgray;
}
#brown{
    background-color: brown;
}
#mistyrose{
    background-color: mistyrose;
}
#gold{

    background-color: gold;
}
#lightyellow{
    background-color: lightyellow;
}
#lime{
    background-color: lime;
}
#paleturquoise{
    background-color: paleturquoise;
}
#lightblue{
    background-color: lightblue;
}
#lavender{
    background-color: lavender;
}

.canvas {
}
#drawing_area {     
    background-color: #fff;  
    border: 1px solid black;

}

#mouse_selector,
#keyboard_selector,
#borrador {
    position: absolute;
    visibility: hidden;
    
}

.tools{
    width:0;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;  
    flex-direction: column;   
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: hsla(218deg, 23%, 68%, 0.7);
    

}

.tools figure{
    width: 100px;
    height: 100px;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    padding-top:8px;
    cursor: pointer;
   
}

.tools figcaption {
    text-align: center;
}

.tools figure:hover:not(.active) {
    border: 1px solid black;
    background-color: #fff; 	
    /*	rgb(80, 200, 120)*/
    color:#555;
}

.active {
    background-color: rgb(152, 251, 152);

}

#colores {
    appearance: none;
    width: 70px;
    height: 70px;
    border:none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
}

#colores::-webkit-color-swatch {
    border-radius: 50%;
    border:1px solid #555;
}

.closebtn {
    text-decoration: none;
    color: #333;
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px; 
}

footer {
    text-align: center;
}

.heart {
    color: red;
}
