* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body{
    height: 100vh;
    background-color: rgb(204, 203, 203);
    text-align: center;
}

img {
    height: 55px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    background-color:hsl(247, 22%, 23%);
    color: #fff;    
    border-bottom:1px solid rgb(173, 173, 173);
}

.header .container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.colores{  
    width: 440px;     
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  
}


.box {
    cursor: pointer;
    flex-basis: 35px;
    height: 35px; 
    /* border: 0.5px solid #333; */
    border-radius: 50%;
    margin:1%;    
}

.box::after {
    content: ' ';
}

#open {
    fill: rgb(230, 230, 230);
    height: 45px;
    padding:5px;
    cursor: pointer;
}
  
#open:hover {
    background-color: rgba(214, 214, 214, 0.051);
    border-radius: 25px;  
}

.caption {
    color:#fff;
}


/*COLORES*/
#black{
    background-color: black;
}
#gray{
    background-color: gray;
}
#darkred{
    background-color: darkred;
}
#red{
    background-color: red;
}
#orange{
    background-color: orange;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}
#turquoise{
    background-color: turquoise;
}
#indigo{
    background-color: indigo;
}
#purple{
    background-color: purple;
}
#white{
    background-color: white;
}
#ligth_gray{
    background-color: lightgray;
}
#brown{
    background-color: brown;
}
#mistyrose{
    background-color: mistyrose;
}
#gold{

    background-color: gold;
}
#lightyellow{
    background-color: lightyellow;
}
#lime{
    background-color: lime;
}
#paleturquoise{
    background-color: paleturquoise;
}
#lightblue{
    background-color: lightblue;
}
#lavender{
    background-color: lavender;
}

canvas {
    margin-top: 5%;


}
#drawing_area {     
    background-color: #fff;  
    border: 1px solid black;
}

#mouse_selector,
#keyboard_selector,
#borrador {
    position: absolute;
    visibility: hidden;
    
}

.tools{
    width:0;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;  
    flex-direction: column;   
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: hsla(247, 22%, 23%, 0.7);   

}

.tools figure{
    width: 100px;
    height: 100px;
    text-align: center;
    border: 1px solid black;
    border-radius: 50%;
    padding-top:8px;
    cursor: pointer;
   
}

.tools figcaption {
    text-align: center;
}

.tools figure:hover:not(.active) {
    border: 1px solid black;
    /* background-color: #fff; 	 */
    /*	rgb(80, 200, 120)*/
    color:#555;
}

.active {
    background-color: rgb(152, 251, 152);

}

#colores {
    appearance: none;
    width: 70px;
    height: 70px;
    border:none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
}

#colores::-webkit-color-swatch {
    border-radius: 50%;
    border:1px solid #555;
}

.closebtn {
    text-decoration: none;
    color: #fff;
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px; 
}

.footer {
    position: absolute;
    bottom: 0;
    right: 10px;    
}

.heart {
    color: red;
}
